%h1.mb-4 get feedback and grow your prelaunch audience
%p read the full story #{link_to "here", "https://www.makerstories.io/stories/should-i-make-this", target: :_blank, class: 'text-link'}

%hr
%h3 get notified of updates and when we launch


<!-- Begin Mailchimp Signup Form -->
#mc_embed_signup
  %form.validate.form-inline.mb-5{:action => "https://matterproductstudio.us17.list-manage.com/subscribe/post?u=1545371c32b90177a42968f03&id=6369e26127", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    #mc_embed_signup_scroll.form-group.mt-3
      %input#mce-EMAIL.email.form-control.col-5{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => "", style: "width: 700px"}
      %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
        %input{:name => "b_1545371c32b90177a42968f03_6369e26127", :tabindex => "-1", :type => "text", :value => ""}
      %input#mc-embedded-subscribe.btn.btn-danger.ml-2{:name => "subscribe", :type => "submit", :value => "Subscribe"}

%hr
%h4 Revisit this site to see progress over the next few hours/days!
