// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr.card-title sub {
  //font-size: .8rem;
}
.card.vote-card {
  min-height: 100px;
}

.form-inline .form-group {
  flex: 1 0 auto;
  input.form-control {
    flex: 1;
  }
}

.week-section {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .empty-week {
    font-size: 1.25rem;
  }
}
