%b Joe Schmoe
.row
  .col-11
    %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.
  .col-1
    /= render partial: 'vote_button', locals: {vote_object: product}
