- if current_user && current_user.following?(product)
  =link_to "Unfollow", unfollow_product_path(product), method: :put, class: "btn btn-outline-danger btn-sm"
- else
  =link_to "Follow", follow_product_path(product), method: :put, class: "btn btn-danger btn-sm"
