%footer.footer.bg-light
  .container
    .row
      .col-12
        .pull-left= link_to "by @elijahmurray", "https://twitter.com/elijahmurray", target: "window", class: 'text-muted'
        .pull-right= link_to 'About', page_index_path, class: 'text-muted'
